# =======X=====================================
# VISUAL STUDIO
# ============================================
**/bin/
**/obj/
**/.vs/
*.user
*.suo
*.cache
*.pdb

# ============================================
# LOGS
# ============================================
**/Logs/

# ============================================
# UPLOADS (Profile Pictures)
# ============================================
**/Uploads/

# ============================================
# ANGULAR
# ============================================
**/node_modules/
**/dist/
**/.angular/

# ============================================
# ENVIRONMENT / SECRETS
# ============================================
**/appsettings.Development.json
**/appsettings.*.json
!**/appsettings.example.json
**/environment.ts
**/environment.prod.ts
**/launchSettings.json

# ============================================
# MIGRATIONS (optional - keep if you want)
# ============================================
# **/Migrations/

# ============================================
# MISC
# ============================================
*.log
*.tmp
.DS_Store
Thumbs.db
